/*! main.css v1.0.1 | MIT License | github.com/agasthian/style.css */
/* Document
   ========================================================================== */
/*
0-600px       :   Phone
600-900px     :   Tablet Portrait
900-1200px    :   Tablet Landscape
[1200-1800] is the normal styles
1800+         :   Big Desktops

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 48em) {
    html {
      font-size: 36%; } }
  @media (max-width: 26.62em) {
    html {
      font-size: 40%; } }
  @media (max-width: 23.5em) {
    html {
      font-size: 38%; } }
  @media (max-width: 20em) {
    html {
      font-size: 35%; } }
  @media (min-width: 26.68em) {
    html {
      font-size: 43%; } }
  @media (min-width: 64em) {
    html {
      font-size: 47%; } }
  @media (min-width: 85.37em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 90em) {
    html {
      font-size: 66%; } }
  @media (min-width: 120em) {
    html {
      font-size: 87.9%; } }
  @media (min-width: 160em) {
    html {
      font-size: 118.7%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #766068;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  scroll-behavior: smooth;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  color: #462B34; }

h1 {
  font-size: 4rem; }

p {
  font-size: 1.6rem; }

/*********** Container ***********/
.container {
  max-width: 124rem;
  padding: 0 4rem;
  margin: 0 auto;
  width: 100%; }

/*********** Center Align Content ***********/
.center-align {
  display: flex;
  justify-content: center;
  align-items: center; }

/******** Flex Box Template  **********/
.flex-wrapper {
  display: flex;
  flex-wrap: wrap; }

.btn, .btn:link, .btn:visited {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 3rem;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 10rem;
  position: relative;
  margin-top: 2rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 26.62em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2.2rem;
      color: #000;
      letter-spacing: 2px;
      font-weight: bold; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--orange {
  color: #fff;
  background-color: #ff5956; }
  .btn--orange::after {
    background-color: #fff; }

.btn--nude {
  color: #fff;
  background-color: #462B34; }
  .btn--nude::after {
    background-color: #462B34; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #462B34;
  border-bottom: 1px solid #462B34;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #462B34;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.header {
  background-color: #fff;
  color: #462B34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 13vh;
  -webkit-box-shadow: 0 0 20px 0 #cecece;
  box-shadow: 0 0 20px 0 #cecece; }
  @media (min-width: 120em) {
    .header {
      min-height: 10vh; } }
  .header .logo {
    padding: 14px 75px 15px 35px;
    background: #462b34;
    border-bottom-right-radius: 25px; }
  .header ul.main-nav {
    display: flex;
    width: 65%;
    justify-content: space-around;
    padding-left: 25rem; }
    .header ul.main-nav li {
      list-style: none; }
    .header ul.main-nav a {
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem;
      transition: ease-in 0.2s all; }
      .header ul.main-nav a:hover {
        color: #ff5956;
        transition: ease-out 0.2s all; }

.main-nav a {
  color: #34495e;
  font-size: .99em; }

.main-nav a:hover {
  color: #718daa; }

/* ================================= 
  Media Queries
==================================== */
/*-------------------------------------------------------------
# CSS for Footer- ASSET Foundation
--------------------------------------------------------------*/
footer {
  background-color: #333; }
  footer .footer_class {
    margin-top: 2rem; }
    footer .footer_class .content1 {
      margin-bottom: 3%;
      padding-top: 1rem; }
      footer .footer_class .content1 address {
        color: #fff;
        font-family: 'Montserrat', serif;
        font-size: 15px; }
        footer .footer_class .content1 address h3 {
          margin-top: 4%;
          font-family: Montserrat;
          color: #fff; }
      footer .footer_class .content1 p {
        color: #fff;
        font-family: Montserrat;
        text-align: -webkit-center;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px; }
        footer .footer_class .content1 p a {
          margin-left: 5%; }
      footer .footer_class .content1 a {
        color: #fff; }
      footer .footer_class .content1 a:visited {
        color: #fff; }
      footer .footer_class .content1 a:hover {
        color: #FFEB3B;
        transition: 0.5s all;
        text-decoration: none; }

.footer2 {
  background-color: #e8ce16;
  text-align: -webkit-center; }

.footer2 p {
  font-family: Montserrat;
  text-transform: uppercase;
  color: #333;
  margin-top: 30px;
  letter-spacing: 2px;
  text-align: center; }

.footer2 img {
  width: 29%; }

/*--------- End of Footer----------*/
/*Container*/
.container {
  max-width: 124rem;
  padding: 0px 4rem;
  margin: 0px auto;
  width: 100%; }

.sectionwrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

/*--------------------------------------------------------------
# Section1 - banner section
--------------------------------------------------------------*/
/* Nav css imported from - layout/nav.scss*/
.banner-section_wrapper {
  height: 87vh;
  display: flex;
  flex-wrap: wrap; }
  .banner-section_wrapper_content {
    flex: 0 0 55%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5rem 0 20rem;
    background-image: url("../../img/pattern-1.png"); }
    .banner-section_wrapper_content .sub_heading {
      color: #ff5956;
      text-transform: uppercase;
      font-weight: 600; }
    .banner-section_wrapper_content h1 {
      line-height: 5.4rem; }
  .banner-section_wrapper_img {
    flex: 1 1 0;
    background-image: url("../../img/banner-1.jpg");
    background-size: cover;
    background-position: center; }
    .banner-section_wrapper_img img {
      width: 520px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0; }

/*--------------------------------------------------------------
# Section2 - Client section
--------------------------------------------------------------*/
.client-section {
  height: 15rem;
  width: 100%;
  background-color: #462B34; }
  .client-section_flex-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap; }

/*--------------------------------------------------------------
# Section3 -  Welcome section
--------------------------------------------------------------*/
.welcome-section {
  margin-top: 10rem; }
  .welcome-section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .welcome-section_heading_subtext {
      color: #ff5956;
      text-transform: uppercase;
      font-weight: 600;
      position: relative; }
      .welcome-section_heading_subtext:before {
        content: "";
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: #F0E6E0;
        border-radius: 5px;
        z-index: -1;
        bottom: -1rem;
        left: -2rem; }
      .welcome-section_heading_subtext:after {
        content: '';
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: #F0E6E0;
        border: 2.5px solid #fff;
        border-radius: 5px;
        z-index: 0;
        bottom: 2.5rem;
        left: 1.5rem; }
    .welcome-section_heading h2 {
      margin-top: 1rem;
      font-size: 3.8rem; }
    .welcome-section_heading p {
      width: 40rem;
      text-align: center; }
  .welcome-section_content-wrapper {
    margin-top: 8rem;
    display: flex;
    flex-direction: row; }
    .welcome-section_content-wrapper .image {
      flex: 0 0 50%; }
    .welcome-section_content-wrapper .side-content {
      flex: 1; }
      .welcome-section_content-wrapper .side-content_subtext {
        color: #ff5956;
        text-transform: uppercase;
        font-weight: 600; }
      .welcome-section_content-wrapper .side-content h3 {
        font-size: 3rem;
        line-height: 4rem;
        margin: 1rem 0; }
      .welcome-section_content-wrapper .side-content_icons {
        margin-top: 5rem;
        display: flex;
        justify-content: space-between; }
        .welcome-section_content-wrapper .side-content_icons p {
          font-size: 2rem;
          font-weight: bold;
          color: #462B34; }
        .welcome-section_content-wrapper .side-content_icons_A {
          display: flex;
          height: 100%; }
        .welcome-section_content-wrapper .side-content_icons_B {
          display: flex;
          height: 100%; }

/*--------------------------------------------------------------
# Section4 -  section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Section5 -  section
--------------------------------------------------------------*/
