/*! main.css v1.0.1 | MIT License | github.com/agasthian/style.css */

/* Document
   ========================================================================== */

//Color

$color-primary: #462B34;
$color-secondary:  #ff5956;

$color-text-primary: #766068;
$color-text-secondary: #e1e0e0;

$color-background:#fff;

//Font
// $font-para:'Poppins', sans-serif;
// $font-heading:'Montserrat',sans-serif;