/*--------------------------------------------------------------
# Section1 - banner section
--------------------------------------------------------------*/
/* Nav css imported from - layout/nav.scss*/

.banner-section{

    &_wrapper{
        height: 87vh;
        display: flex;
        flex-wrap: wrap;
        @include respond(small) {
            height: 90vh;
            flex-direction: column-reverse;
        }

        &_content{
            flex: 0 0 45%;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px 7rem 0 10rem;

            .sub_heading{
                color:$color-secondary;
                text-transform: uppercase;
                font-weight: 600;
            }
            h1{
                line-height: 5.4rem;
            }

            @include respond(small) {
                padding: 12rem;
            }
        }
        &_img{
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }   
    }
}