/*--------------------------------------------------------------
# Section5 -  section
--------------------------------------------------------------*/
.nonitServices-section{
    

    height: 80vh;
    margin-top: 10rem;
    display: flex;

    &_left{
        flex: 1 1 40%;
        background: url('../../img/6.webp')no-repeat;
        background-position: right;
 
     }
     &_right{
         
         flex: 1 1 60%;
         padding: 4rem 5rem;
     }

     p{
        margin-bottom: 2rem;
    }
}