/*--------------------------------------------------------------
# Section5 -  section
--------------------------------------------------------------*/
.nonitServices-section{
    

    height: 80vh;
    margin-top: 6rem;
    display: flex;
    @include respond(tab-port) {
        flex-direction: column;
        min-height: 100vh;
    }

    &_left{
        flex: 1 1 40%;
        background: url('../../img/10.jpg')no-repeat;
        background-size: contain;
        
        @include respond(tab-port) {
            flex: 1 1 100%;
        }
 
     }
     &_right{
         flex: 1 1 60%;
         padding: 4rem 5rem;

         @include respond(tab-port) {
            flex: 1 1 100%;
            padding: 4rem 0;
         }
     }

     p{
        margin-bottom: 2rem;
    }
}