/*--------------------------------------------------------------
# Section2 - Client section
--------------------------------------------------------------*/
.client-section{
    min-height: 15rem;
    padding: 2rem;
    width:100%;
    background-color: $color-primary;

    &_flex-wrapper{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;

        img{
            width: 120px;
        }
        p{
            color:#fff;
            text-align: center;
            font-weight: bold;
            padding-top: 1rem;
            @include respond(small) {
                font-size: 2.2rem;
            }
        }
    }

    @include respond(small) {
        min-height: 30rem;

        img{
            width:15rem;
        }
    }
}